html, body {
    background-color: white;
}

#generate-button, #roll-button, #sum-button, #reset-button {
    border: 1px solid black;
    border-radius: 15px;
    background-color: rgb(206, 205, 205);
    font-size: 16px;
}

.buttons {
    padding: 0.5em;
    border: 1px solid black;
    text-align: center;
    background-color: green;
}

.square {
    margin: 0.01em;
    vertical-align: middle;
    text-align: center;
    font-size: 6em;
    display: inline-block;
    color: black;
    cursor: pointer;
    line-height: 100px;
}

#square-container {
   background-color: black;
   text-align: center;
}