#square-container {

}

html, body {
    background-color: white;
}

.square {
    margin: 0.01em;
    vertical-align: middle;
    text-align: center;
    font-size: 6em;
    display: inline-block;
    color: black;
    cursor: pointer;
    line-height: 100px;
}